
.App {
  text-align: center;
  margin-top: 20px;
}
.itemCard {
  border-radius: 12px;
  width: 200px;
  height: 150px;
  border: 1px solid red;
  text-align: center;
  margin-top: 20px;
  margin-left: 600px;
  background-color: black;
}
.everyItem {
  color: white;
  margin-top: 60px;
}
